<app-top></app-top>

<main class="containerLogin">
  <div class="banner">
    <img src="../../../assets/Fancy.png" alt="" />
  </div>
  <div class="texto1">
<p class="text">
  Somos la primer plataforma online gratuita dedicada
a visibilizar el trabajo de cientos de reposteros
de todo nuestro país. Aquí encontrarás recetas, truquitos,
preparaciones y mucho más para que puedas abrir tu propio negocio
o simplemente deleitar a tu familia con un delicioso postre <br>

Si el mundo de la cocina te fascina, en LulyPostres descubrirás una infinidad de recetas riquísimas que deleitarán incluso a los paladares más exigentes. En nuestra web encontrarás todo tipo de recetas de postrería capaces de sorprender a los paladares más exquisitos. Contamos con cocineros experimentados  que trabajan para ofrecerte las mejores recetas caseras, fáciles y rápidas de hacer.
Entrantes, increíbles dulces, todo tipo de salsas, repostería... LulyPostres sorprende con una gran variedad de recetas de cocina fáciles a la vez que gustosas, que te dejarán sin palabras. Encontrarás recetas sanas de varias cocinas del mundo: española, colombiana, argentina, mexicana, peruana, chilena, italiana, etc.

</p>

  </div>

</main>
<app-footer></app-footer>
