<footer class="pieDePagina">
  <div class="logoPie">
    <img class="logo" src="../../../assets/Logo.png" width="180px" alt="" />
  </div>
  <div class="despedida">
    <p>
      ©2001-2023 Todos los derechos reservados. Lulyrecetas® es una marca
      registrada de The Rocket Group. Apple y su logotipo son marcas comerciales
      de Apple Inc. La Mac App Store es una marca de servicio de Apple Inc.
      Google Play y su logotipo son marcas comerciales de Google Inc. Privacidad
      | Condiciones | Normativa |
    </p>
  </div>
  <div class="iconos">
    <a
      href="https://instagram.com/lulypos3?igshid=NzZlODBkYWE4Ng%3D%3D&utm_source=qr"
      ><i class="bi bi-instagram"></i>
    </a>
    <a href="https://www.tiktok.com/@modaeats?_t=8gg35plsplu&_r=1"
      ><i class="bi bi-tiktok"></i
    ></a>
    <a
      href="https://www.facebook.com/profile.php?id=100062926975934&mibextid=LQQJ4d"
      ><i class="bi bi-facebook"></i
    ></a>
    <a href="https://wa.me/message/CKJF6HTJCT57C1"
      ><i class="bi bi-whatsapp"></i
    ></a>
  </div>
</footer>
