<app-top></app-top>

<div class="banner">
  <img class="imagen" src="../../../assets/Bienvenidos.png" alt="" />
</div>

<section class="nosotros seccion-oscura">
  <div class="contenedor">
    <div class="caja1">
      <h2 class="tituloCracks">
        Aquí encontrarás <br />a los ¡CRACKS! en repostería <br />
        del País
      </h2>
      <p class="definicion">
        En reposter@s.com podrás subir y/o consultar <br />
        las recetas de los mejores pasteleros de Colombia.
      </p>
    </div>
    <div class="caja2">
      <h2 class="tituloCracks">¿Quienes somos?</h2>
      <p class="definicion">
        Somos la primer plataforma online gratuita dedicada <br />
        a visibilizar el trabajo de cientos de reposteros <br />
        de todo nuestro país. Aquí encontrarás recetas, truquitos, <br />
        preparaciones y mucho más para que puedas abrir tu propio negocio <br />
        o simplemente deleitar a tu familia con un delicioso postre
      </p>
    </div>
  </div>
</section>
<div class="titu2">
  <h1 class="tituloCracks1">Top postres de la semana</h1>
</div>
<div class="inspo">
 
  <div class="card" style="width: 18rem">
<img src="../../../assets/galeria1.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Tentación de chocolate</h5>
      <p class="card-text">
        Sabor(es) Chocolate <br />
        País de origen Italia <br />
        Otros nombres Choco helado
      </p>
     
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img src="../../../assets/galeria2.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Pie de limón</h5>
      <p class="card-text">
        Pocos postres combinan tan bien el contraste como un buen pie de limón.
        La acidez de su relleno, lo firme de su corteza y lo dulce de su
        merengue. Y si lo acompañas con una deliciosa taza de té, pues ni se
        diga.
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img src="../../../assets/galeria3.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Brownie Moca</h5>
      <p class="card-text">
        Estos brownies de moca veganos son fáciles de hacer y siempre son un
        éxito cuando los horneo. Son ricos, chocolatosos, dulces y un postre
        vegano perfecto.
      </p>
    </div>
  </div>
</div>
<div class="segundoTop">
  <div class="card" style="width: 18rem">
    <img src="../../../assets/frambuesa.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Postre de Frambuesa</h5>
      <p class="card-text">
        Esta receta de postre pequeño y fácil es perfecta para eso. Redobles de
        tambor para estos cheesecake de frambuesa en vasitos ¡por favor!.
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img src="../../../assets/tresleches.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Tres Leches</h5>
      <p class="card-text">
        El pastel de tres leches tiene una rica historia. Su nombre proviene de
        su preparación con tres tipos de leches: evaporada, crema y leche
        condensada.
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img
      src="../../../assets/piedemanzana.png"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Pié de Manzana</h5>
      <p class="card-text">
        El pie de manzana es un postre que se puede degustar frío o caliente y
        consiste en una masa suave o crujiente rellena de manzanas, las cuales
        pueden ser en rodajas, cubitos o puré.
      </p>
    </div>
  </div>
</div>

<div class="segundoTop">
  <div class="card" style="width: 18rem">
    <img src="../../../assets/flan.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Flan de Caramelo</h5>
      <p class="card-text">
        El flan es uno de los postres más populares en todo el mundo a la par
        que económicos, ya que se elabora con ingredientes de fácil acceso y uso
        común.
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img src="../../../assets/natilla.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Matrimonio</h5>
      <p class="card-text">
        Las natillas son un postre lácteo muy extendido en la gastronomía
        española. Se trata de una crema elaborada con leche, yemas de huevo,
        azúcar y aroma de vainilla.
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img src="../../../assets/amapola.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Torta de Amapola</h5>
      <p class="card-text">
        Haz un pastel de semillas de amapola casero con esta receta fácil pero
        deliciosa de pastel de semillas de amapola con leche sin lactosa
        LACTAID®.
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
